@import "tailwindcss";

/* Thin brown scrollbar */
.scrollbar-brown::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-brown::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-brown::-webkit-scrollbar-thumb {
    background-color: #6b3f2a;
    /* brown */
    border-radius: 10px;
}

.scrollbar-brown::-webkit-scrollbar-thumb:hover {
    background-color: #8b5a3c;
}

/* Firefox */
.scrollbar-brown {
    scrollbar-width: thin;
    scrollbar-color: #6b3f2a transparent;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-12px);
    }
}

.animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}

/* career page css */
.career-input {
    @apply w-full bg-transparent border border-white/40 text-white placeholder-white/60 text-sm px-4 py-2 rounded-md outline-none focus:border-white transition;
}

.career-textarea {
    @apply w-full bg-transparent border border-white/40 text-white placeholder-white/60 text-sm px-4 py-2 rounded-md outline-none focus:border-white transition resize-none;
}

.career-upload {
    @apply flex items-center justify-between border border-white/40 rounded-md px-4 py-2 text-white text-sm cursor-pointer hover:border-white transition;
}

.career-btn {
    @apply px-10 py-2 rounded-full border border-white text-white text-sm tracking-widest hover:bg-white hover:text-black transition;
}

/* catering page css */
.catering-input {
    @apply w-full bg-transparent border border-white/40 text-white placeholder-white/60 text-sm px-4 py-2 rounded-md outline-none focus:border-white transition;
}

.catering-btn {
    @apply px-8 py-2 rounded-full border border-white text-white text-sm tracking-wide hover:bg-white hover:text-black transition;
}